.registration-modal .modal-dialog {
    max-width: 70rem;
  }

  /* Modal.css */

.registration-modal input {
    background-color: #F3F4F8; /* Set the initial background color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .registration-modal input:focus {
    background-color: white; /* Set the background color when the input is focused */
  }
  